@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #000;
    --cor-secundaria: #f0f8ff;
    --cor-terciaria:  rgba(185, 175, 194, 0.692);
    --cor-hover: #ff31ff;
    
    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    width: 100vw;
}

header{
    padding: 5px 5%;
    width: 100vw;
}

.interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.interface .logo {
    justify-content: start;
}

.logo img{
    height: 40%;
    width: 40%;
}

header a{
    color: var(--cor-terciaria);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-family: var(--font-primaria);
}

header a:hover{
color: var(--cor-hover);
transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 100px;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}	

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}	

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;	
}	
.apresentacao_links_navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-hover);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.txt__do__site h1{
    color: var(--cor-hover);
    font-size: 42px;
    line-height: 40px;
}

.txt__do__site p{
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-size: 20px;
    margin-top: 15px;

}

.apresentacao__imagem{
    width: 30%;
    box-shadow: 0px 0px 2px 4px var(--cor-hover); 
    transition: box-shadow 0.6s ease; 
}

.apresentacao__imagem__skills{
    width: 40%;
}

/*Estilo Projetos*/


.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.container .custom-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 340px;
    max-width: 100%;
    height: 300px;
    background: var(--cor-secundaria);
    border-radius: 20px;
    transition: .5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.container .custom-card:hover {
    height: 375px;
}

.container .custom-card .img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: var(--cor-primaria);
    border-radius: 12px;
    overflow: hidden;
    transition: .5s;
}

.container .custom-card:hover .img-box{
    top: -100px;
    scale: .75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .custom-card .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .custom-card .custom-content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    align-items: center;
    overflow: hidden;
    transition: .5s;
}

.container .custom-card:hover .custom-content {
    top: 130px;
    height: 250px;
}

.container .custom-card .custom-content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor-hover);
}

.container .custom-card .custom-content p {
    color: var(--cor-primaria);
}

.container .custom-card .custom-content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: var(--cor-hover);
    color: var(--cor-secundaria);
    font-weight: 500;
    border-radius: 5px;
}

.container .custom-card .custom-content a:hover{
    opacity: .8;
}

/*Estilo do footer*/
/* footer */

.rodape {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    box-shadow: 0px 0px 20px var(--cinza--escuro);
}

.rodape .logos {
    display: flex;
    list-style-type: none;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.rodape .logos a {
    margin: 0 10px;
    display: inline-block;
}

.logos .logo__alura {
    width: 60%;
}

.rodape p {
    color: var(--branco);
    font-size: small;
    text-align: center;
    margin: 15px 0 0 15px;
    margin: auto;
}


